################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.csv
*.xlsx
*.txt
/00-Testing/沪深300股票数据new.txt.bak
*.pdf
*.Rdata
